:root {
  width: 100vw;
  height: 100vh;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
}

* {
  font-family: Roboto;
}

.header {
  display: flex;
  background-color: #1f2937;
  flex-direction: column;
}

.nav-container {
  display: inline-flex;
  justify-content: space-between;
  align-items: flex-start;
}

#logo-container {
  float: left;
  margin-left: 1rem;
}

#logo-container h3 {
  font-size: 24px;
  color: #f9faf8;
}

.header-links {
  justify-content: space-between;
  float: right;
  margin-top: 1.75rem;
  margin-right: 1rem;
}

.header-links a {
  font-size: 18px;
  color: #e5e7eb;
}

.header-container {
  display: inline-flex;
}

.header-description {
  padding: 0.5rem;
}

.header-description h1 {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.header-description p {
  font-size: 18px;
  color: #e5e7eb;
}

.header-description button {
  color: #f9faf8;
  border: 1px solid;
  border-radius: 20px;
  background-color: #3882f6;
  padding: 1rem;
  width: 130px;
  height: 60px;
  font-size: 20px;
  font-weight: bolder;
}

.header-description button:hover {
  background-color: #4e92ff;
}

.header-description button:active {
  background-color: #244f94;
}

.header-image {
  margin-top: 3.9rem;
}

.info-container {
  display: flex;
  flex-direction: column;
}

.info-header {
  text-align: center;
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
}

.info-image-container {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
}

.info-image-container img {
  border-radius: 25px;
}

.quote-container {
  display: flex;
  background-color: #e5e7eb;
}

.quote-text-container {
  font-size: 36px;
  margin-top: 20px;
  margin-left: 1rem;
  color: #1f2937;
}

#attribution-container {
  font-size: 24px;
  float: right;
  margin-right: 1rem;
}

.cta-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta-blue-container {
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: #3882f6;
  border-radius: 25px;
  width: 600px;
}

.cta-text {
  color: #f9faf8;
  margin: 1rem;
  float: left;
}

.cta-text h3 {
  font-size: 24px;
}

.cta-text p {
  font-size: 18px;
}

.cta-button {
  float: right;
}

.cta-button button {
  background-color: #3882f6;
  font-size: 18px;
  font-weight: bolder;
  border: 1px solid;
  border-color: #f9faf8;
  color: #f9faf8;
  border-radius: 25px;
  margin-top: 3rem;
  margin-right: 4rem;
  width: 90px;
  height: 45px;
}

.cta-button button:hover {
  background-color: #4e92ff;
}

.cta-button button:active {
  background-color: #244f94;
}

.land-footer {
  display: flex;
  height: 70px;
  background-color: #1f2937;
  justify-content: center;
}

.land-footer-text {
  text-align: center;
  color: #f9faf8;
  font-size: 18px;
}